{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop Detail</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Shop Detail </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
{% for products in searches %}
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="{{products.images.url}}" alt="First slide"> </div>

                        </div>


                    </div>
                </div>

                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2 class="mt-2">{{products.name}}</h2>
                        <h5 class="mt-2">{{products.price}}</h5>
                        <p class="available-stock" class="mt-2"><span>{% if products.stock > 0 %} Available Stock/{{products.stock}} {% endif %} </a></span><p>
						<h4 class="mt-2">Short Description:</h4>
                        <p style="text-align:justify;">{{products.description}}</p>

						<div class="price-box-bar mt-2 p-4">
                            {% if user.is_superuser == True %}
                            <div class="cart-and-bay-btn">

								<a class="btn hvr-hover" data-fancybox-close="" href="{% url 'shop:addstock' products.id %}">Add Stock</a>
							</div>
                            {% else %}
							<div class="cart-and-bay-btn">
                                {% if products.stock > 0 %}

								<a class="btn hvr-hover" data-fancybox-close="" href="{% url 'cart:addtocart' products.id %}">Add to cart</a>
                                {% else %}
                                <a class="btn hvr-hover" data-fancybox-close="" href="#">Out Of Stock</a>
                                {% endif %}
							</div>
                            {% endif %}
						</div>


                    </div>
                </div>
            </div>
</div>
        {% endfor %}
{% endblock %}